.conteudo{
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background{
  height: 100vh;
  position: absolute;
  left: 0;
}
.info{
  width: 60%;
  margin: 40px 90px 0 0;
  color: white;
}

input{
  border: 1px solid #999999;
  border-radius: 22px;
  min-width: 250px;
  width: 85%;
  margin-right: 12px;
  background: transparent;
  font-size: 18px;
  padding: 10px;
}
button{
  border: 1px solid #999999;
  color: white;
  border-radius: 22px;
  margin-right: 12px;
  background:rgba(45, 51, 59, 1);
  font-size: 18px;
  padding: 10px;
}

.perfil{ 
  display: flex;
  margin-top: 40px;
}
.perfil h3{
  color: #999999;
  font-size: 24px;
  margin: 0;
}
.perfil span{
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 0;
}
.perfil p{
  color: #999999;
  font-size: 12px;
  margin: 0;
  margin-top: 20px;
}
.profile{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid white;
  margin-right: 32px;
}

